
.bm-burger-button {
    position: fixed;
    width: 24px;
    height: 20px;
    left: 36px;
    top: 36px;
  }
  
  .bm-burger-bars {
    background: #4c505f;
  }
  
  .bm-burger-bars-hover {
    background: #9e9e9e;
  }

  .bm-menu-wrap {
    position: relative;
    height: 100%;
  }

  .bm-menu {
    background: #313030;
    padding: 1.5em 0;
    font-size: 1.15em;
  }
  
  .bm-item {
    display: inline-block;
    padding-top: 20px;
    color: #d1d1d1;
    margin-bottom: 10px;
    text-align: left;
    text-decoration: none;
    transition: color 0.2s;
    padding-left: 30px;
  }

  .bm-cross {
    background: #959595;
  }
  
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }

  .bm-cross-button:hover {
    color: white;
  }

  .menu-item {
    color: rgb(148, 148, 148);
  }

  .bm-item:hover {
    color: #ffffff;
  }
  
